<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<configuration>
  <sitecore>
    <linkManager defaultProvider="switchableLinkProvider">
      <providers>
        <add name="customLinkProvider"
          type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
          cacheExpiration="5"
          addAspxExtension="false"
          alwaysIncludeServerUrl="false"
          encodeNames="true"
          languageEmbedding="always"
          languageLocation="filePath"
          shortenUrls="true"
          useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
