<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
>
  <sitecore>
    <settings role:require="XMCloud">
      <setting name="Caching.AccessResultCacheSize" set:value="$(env:CACHE_VALUE)" />
    </settings>
  </sitecore>
</configuration>
